<div class="card" id="export-admin">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('decidim.admin.pages.export.users')%>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t('decidim.admin.pages.export.process')%></th>
            <th><%= t('decidim.admin.pages.export.process_download')%></th>
          </tr>
        </thead>
        <tbody>
          <%@participatory_process.each do |pp| %>
          <% if pp.published?%>
            <tr>
              <td>
                  <%= translated_attribute(pp.title) %>
              </td>
              <td class="table-list__actions">
                  <%= icon_link_to "data-transfer-download", export_path(format: :csv, process_id: pp.id), t('decidim.admin.pages.export.download'), class: "icon-cloud-download", target: :blank %>
              </td>
            </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
    <%= link_to t('decidim.admin.pages.export.download_users'), export_path(format: :csv), class: "button small" %>
  </div>
</div>